.wrapper {
  margin: 60px 0px 0px 0px;
}

.menu__nav_wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 1rem 0;
}
.menu__nav_list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .menu__nav_wrapper {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .menu__nav_wrapper {
    font-size: 12px;
  }
}
.menu__nav_item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #9d9d9d;
}

.menu__category_wrapper {
  margin: 40px 0px 0px 0px;
}
.category_title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;

  display: flex;
  align-items: center;
  margin: 0;
}
